{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
<!-- MathJax Support -->
{{ partial "mathjax.html" . }}

<!-- 文章字体设置 -->
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/code-new-roman" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/jetbrains-mono-2" rel="stylesheet">     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">                 
</head>
</html>

{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
